<p id="notice"><%= notice %></p>

<p>
  <strong>Loc rowid:</strong>
  <%= @planet.loc_rowid %>
</p>

<p>
  <strong>Pl hostname:</strong>
  <%= @planet.pl_hostname %>
</p>

<p>
  <strong>Pl letter:</strong>
  <%= @planet.pl_letter %>
</p>

<p>
  <strong>Pl name:</strong>
  <%= @planet.pl_name %>
</p>

<p>
  <strong>Pl controvflag:</strong>
  <%= @planet.pl_controvflag %>
</p>

<p>
  <strong>Pl pnum:</strong>
  <%= @planet.pl_pnum %>
</p>

<p>
  <strong>Pl orbper:</strong>
  <%= @planet.pl_orbper %>
</p>

<p>
  <strong>Pl orbsmax:</strong>
  <%= @planet.pl_orbsmax %>
</p>

<p>
  <strong>Pl orbeccen:</strong>
  <%= @planet.pl_orbeccen %>
</p>

<p>
  <strong>Pl orbincl:</strong>
  <%= @planet.pl_orbincl %>
</p>

<p>
  <strong>Pl bmassj:</strong>
  <%= @planet.pl_bmassj %>
</p>

<p>
  <strong>Pl radj:</strong>
  <%= @planet.pl_radj %>
</p>

<p>
  <strong>Pl dens:</strong>
  <%= @planet.pl_dens %>
</p>

<p>
  <strong>Pl nnotes:</strong>
  <%= @planet.pl_nnotes %>
</p>

<p>
  <strong>St dist:</strong>
  <%= @planet.st_dist %>
</p>

<p>
  <strong>Gaia dist:</strong>
  <%= @planet.gaia_dist %>
</p>

<p>
  <strong>St optmag:</strong>
  <%= @planet.st_optmag %>
</p>

<p>
  <strong>St optband:</strong>
  <%= @planet.st_optband %>
</p>

<p>
  <strong>Gaia gmag:</strong>
  <%= @planet.gaia_gmag %>
</p>

<p>
  <strong>St teff:</strong>
  <%= @planet.st_teff %>
</p>

<p>
  <strong>St mass:</strong>
  <%= @planet.st_mass %>
</p>

<p>
  <strong>St rad:</strong>
  <%= @planet.st_rad %>
</p>

<p>
  <strong>Rowupdate:</strong>
  <%= @planet.rowupdate %>
</p>

<p>
  <strong>Pl eqt:</strong>
  <%= @planet.pl_eqt %>
</p>

<p>
  <strong>Pl masse:</strong>
  <%= @planet.pl_masse %>
</p>

<p>
  <strong>Pl ratdor:</strong>
  <%= @planet.pl_ratdor %>
</p>

<p>
  <strong>Pl ratror:</strong>
  <%= @planet.pl_ratror %>
</p>

<p>
  <strong>Pl status:</strong>
  <%= @planet.pl_status %>
</p>

<p>
  <strong>Pl mnum:</strong>
  <%= @planet.pl_mnum %>
</p>

<p>
  <strong>Pl publ date:</strong>
  <%= @planet.pl_publ_date %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
