<h1>XOPlanet</h1>
<script type="text/javascript">
  function handleClick(match, name) {
    if(match) {
      window.location = `/?like=${name}`;
    } else {
      window.location = "/";
    }
  }
</script>
<div class="wrapper">
  <div class="container">
    <nav>
      <span>Back</span>
      <%= image_tag('Logo.svg', class: 'logo') %>
    </nav>
    <main>
      <img class="photo" src="<%= @composition.to_data_url %>" width="375"/>
    </main>
    <div class="text">
      <h2><%= @planet.pl_name %></h2>
      <p><%= @planet.st_dist %> parsecs away</p>
      <br />
      <h3>ABOUT ME</h3>
      <p><%= AboutMe.order('RANDOM()').first.description.truncate(140) %></p>
      <br />
      <h3>MASS</h3>
      <p><%= @planet.st_mass %></p>
      <h3>EFFECTIVE TEMPERATURE</h3>
      <p><%= @planet.st_teff %></p>
      <h3>ORBIT SEMI-MAJOR AXIS</h3>
      <p><%= @planet.pl_orbsmax %></p>
    </div>
<!--
     <img src="<%= @composition.to_data_url %>" width="375"/>
      <a href="/" >
        <%= image_tag('dislike.svg', id: "dislike-button") %>
      </a>
      <a href="/?like=<%= @name %>" id="like-button" >
        <%= image_tag('like.svg') %>
      </a> %>
      -->
    </main>
    <div class="responses">
      <div class="no" >
        <a onclick="handleClick(false, '<%= @name %>')">
          <%= image_tag('dislike.svg', id: "dislike-button") %>
        </a>
      </div>
      <div class="yes">
        <a onclick="handleClick(true, '<%= @name %>')">
          <%= image_tag('like.svg', id: "like-button") %>
        </a>
      </div>
    </div>
  </div>
</div>