<h1>XOPlanet</h1>
<p>Name: <%= @name %></p>
<script type="text/javascript">
  function handleClick(match, name) {
    if(match) {
      window.location = `/?like=${name}`;
    } else {
      window.location = "/";
    }
  }
</script>
<div class="wrapper">
  <div class="container">
    <nav>
      <span>Back</span>
      <%= image_tag('Logo.svg', class: 'logo') %>
    </nav>
    <main>
      <img class="photo" src="<%= @composition.to_data_url %>" width="375"/>
<!--
     <img src="<%= @composition.to_data_url %>" width="375"/>
      <a href="/" >
        <%= image_tag('dislike.svg', id: "dislike-button") %>
      </a>
      <a href="/?like=<%= @name %>" id="like-button" >
        <%= image_tag('like.svg') %>
      </a> %>
      -->
    </main>
    <div class="responses">
      <div class="no" >
        <a href="#" onclick="handleClick(false, '<%= @name %>')">
          <%= image_tag('dislike.svg', id: "dislike-button") %>
        </a>
      </div>
      <div class="yes">
        <a href="#" onclick="handleClick(true, '<%= @name %>')">
          <%= image_tag('like.svg', id: "like-button") %>
        </a>
      </div>
    </div>
  </div>
</div>